body {
  font-family: 'Tahoma', sans-serif;
  background-color: #fefae0;
}

h1 {
  text-align: center;
  color: #606c38;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 32px;
}

.navbar a {
  background-color: #bc6c25;
  color: #fefae0;
  text-decoration: none;
  padding: 8px;
  margin: 0 12px;
  display: block;
}

.navbar a:hover {
  background-color: #283618;
  color: #fefae0;
}

.recipe-image {
  text-align: center;
}

.card {
  background-color: #dda15e;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 8px;
}
